<p id="notice"><%= notice %></p>

<h1>Listing Rubyquizzes</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Ans1</th>
      <th>Ans2</th>
      <th>Ans3</th>
      <th>Ans4</th>
      <th>Correctans</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rubyquizzes.each do |rubyquiz| %>
      <tr>
        <td><%= rubyquiz.question %></td>
        <td><%= rubyquiz.ans1 %></td>
        <td><%= rubyquiz.ans2 %></td>
        <td><%= rubyquiz.ans3 %></td>
        <td><%= rubyquiz.ans4 %></td>
        <td><%= rubyquiz.correctAns %></td>
        <td><%= link_to 'Show', rubyquiz %></td>
        <td><%= link_to 'Edit', edit_rubyquiz_path(rubyquiz) %></td>
        <td><%= link_to 'Destroy', rubyquiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rubyquiz', new_rubyquiz_path %>
