<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

 
  <h2>Favorite Videos</h2>
  <ul>
    <% @fav.each do |f| %>
      <li> <h4><%= f.language%> : By <%= f.owner%></h4>
      <%= button_to "unfavorite", languages_favorite_path(url: f.url, owner: f.owner, type: "unfavorite"), method: :post, :class => "btn" %><br>
      <iframe width="520" height="285"
        src= <%=f.url %> >
      </iframe>
      </li><br><br>
   <% end %>
  </ul>
  <h2>My Favorite Videos</h2>
  <div class = "Youtube">
    <span>Add Your Favorite Youtube Link(URL)</span>
    <%= form_tag :controller => "favorites", :action => "add", :method => 'post' do %>
      <label>URL</label>
      <%= text_field_tag(:url) %>
      <label>Language</label>
      <%= text_field_tag(:lang) %>
      <%= submit_tag("Add", :class => "btn btn-primary") %>
    <% end %>
  </div>
                    
</body>