<p id="notice"><%= notice %></p>

<h1>Listing Javaquizzes</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Ans1</th>
      <th>Ans2</th>
      <th>Ans3</th>
      <th>Ans4</th>
      <th>Correctans</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @javaquizzes.each do |javaquiz| %>
      <tr>
        <td><%= javaquiz.question %></td>
        <td><%= javaquiz.ans1 %></td>
        <td><%= javaquiz.ans2 %></td>
        <td><%= javaquiz.ans3 %></td>
        <td><%= javaquiz.ans4 %></td>
        <td><%= javaquiz.correctAns %></td>
        <td><%= link_to 'Show', javaquiz %></td>
        <td><%= link_to 'Edit', edit_javaquiz_path(javaquiz) %></td>
        <td><%= link_to 'Destroy', javaquiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Javaquiz', new_javaquiz_path %>
