<!DOCTYPE html>
<head>
  <title>Java</title>
</head>
<body>
 
  <div class = "text-center">
    <h2>Java</h2>
  </div>
  <h3>Video Tutorials</h3>
  <ul>
      <% @favorites.each do |f| %>
        <li> <h4>By <%= f.owner %></h4>
        <div id="fav_buttons">
          <span class="fav_unfav"><%= button_to("Favorite",   languages_java_path(url: f.url, owner: f.owner, lang: f.language , type: "favorite"), method: :post, :class => "btn btn-primary") %></span>
          <span class="fav_unfav"><%= button_to("Unfavorite", languages_java_path(url: f.url, owner: f.owner, lang: f.language , type: "unfavorite"), method: :post, :class => "btn")%></span>
        </div><br>
        <iframe width="520" height="285" allowfullscreen="allowfullscreen" 
          src= <%=f.url %> >
        </iframe>
        <p><b>Description</b></p>
        <p><%= f.description %></p><br><br>
      </li>
     <% end %>
  </ul>
  <h3>Official Documentation</h3>
    <a role='button' class='btn btn-primary' href = "https://docs.oracle.com/javase/8/">Documentation</a> <br>
  <h3>Read More</h3>
  <a role='button' class='btn btn-primary' href = "http://www.javaworld.com/blogs/">Blog</a> <br>
  <h3>Test your knowledge</h3>
  <%= link_to 'Quiz', {:controller => "javaquizzes", :action => "answering" , :id => "1"}, :role => 'button' ,:class =>'btn btn-primary'%>

</body>
